﻿/// <reference path="../_global/_vars" />
/// <reference path="../_global/_mixins" />
.btn-link{
    display: inline-block;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    border: 1px solid rgba(0,0,0,0.2);
    background: $blue;
    color: $white;
    font-size: 15px;
    font-family: $primary-font;
    text-decoration: none;
    position: relative;
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    -webkit-font-smoothing: antialiased;

    span{
        position: relative;
        z-index: 1;
    }

    &:hover{
        box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
        color: $white;
    }

    &:active{
        opacity: 0.85;
    }

    &:after{
        content: "";
        display: block;
        position: absolute;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.15);
        transition: $hover-speed;
        z-index: 0;
    }

    &:hover:after{
        transform: translateX(-100%);
    }
}

.tilt{
    margin: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: $hover-speed;
            
    @include responsive($phone) {
        margin-left: 12px;
        margin-right: 12px;
        font-size: 50px;
    }

    &:hover {
        transform: rotate(-8deg) scale(1.1);
    }

    &:nth-child(even):hover {
        transform: rotate(8deg) scale(1.1);
    }
}