﻿/// <reference path="../_global/_vars" />
/// <reference path="../_global/_mixins" />
.grid {
    width: 100%;
}

%col {
    vertical-align: top;
    padding-left: 65px;
    padding-right: 50px;
    display: inline-block;
    
    @include responsive($medium) {
        padding-left: 12px;
        padding-right: 12px;
        width: 100%;
    }
}