﻿/// <reference path="../_global/_vars" />
/// <reference path="../_global/_mixins" />
[data-tooltip]:after {
    content: attr(data-tooltip);
    font-size: 10.5px;
    font-family: $secondary-font;
    color: $white;
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    border-radius: 4px;
    transition: $hover-speed;
    left: 80%;

    @include responsive($phone) {
        left: 40%;
    }

    line-height: 155%;
    transform: scale(0);
    letter-spacing: 0.4px;
    opacity: 0;
    z-index: 50;
    text-align: left;
}

[data-tooltip]:hover:after {
    transform: scale(1);
    opacity: 1;
}

.text-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #bcbcbc;
    cursor: default;
}

.text-tooltip[data-tooltip]:after {
    width: 90px;
}