﻿<section class="hero js-hero">
    <div class="content-wrapper">
        <h1>Web Developer</h1>
        <p>Hey, I'm Alex and I'm a web developer from&nbsp;Liverpool,&nbsp;UK</p>
    </div>
    <ul id="scene">
        <li class="layer" data-depth="0.20"><img src="~/Content/images/hero-bg.jpg"></li>
    </ul>
</section>

<section class="about" id="about">
    <div class="content-wrapper grid">
        <div>
            <div class="info">
                <h2>About Me</h2>
                <p>
                    I started teaching myself basic web development at age 15 by watching YouTube tutorials.
                    A year later I created and opened a web-based <span class="text-tooltip" data-tooltip="Massively multiplayer online role-playing game">MMORPG;</span> <a target="_blank" title="Tough Society MMORPG" href="http://s4.toughsociety.com">Tough Society</a>, which I still run today.
                    I studied computing and media at sixth-form, and then Internet Computing at the University of Liverpool.
                    After graduating with first-class honours in 2014, I began working as a web developer for a company based in Liverpool, while continuing to run Tough Society.
                </p>
                <p>
                    I've now been working with PHP, SQL / MySQL and front end languages on personal projects for 8 years.
                    I also have 2 and a half years commercial experience working as a C# .NET web developer.
                </p>
                <p>
                    When I'm not programming, I'm either rock climbing, watching football or attempting to play the guitar.
                </p>
            </div>
            <div class="tech">
                <h2>Tech I Work With</h2>
                <ul>
                    <li data-tooltip="C#" class="tilt devicon-csharp-plain colored"></li>
                    <li data-tooltip=".NET Framework" class="tilt devicon-dot-net-plain-wordmark colored"></li>
                    <li data-tooltip="PHP" class="tilt devicon-php-plain colored"></li>
                    <li data-tooltip="MySQL" class="tilt devicon-mysql-plain-wordmark colored"></li>
                    <li data-tooltip="JavaScript" class="tilt devicon-javascript-plain colored"></li>
                    <li data-tooltip="TypeScript" class="tilt devicon-typescript-plain colored"></li>
                    <li data-tooltip="jQuery Library" class="tilt devicon-jquery-plain-wordmark colored"></li>
                    <li data-tooltip="HTML5" class="tilt devicon-html5-plain-wordmark colored"></li>
                    <li data-tooltip="CSS3" class="tilt devicon-css3-plain-wordmark colored"></li>
                    <li data-tooltip="SASS" class="tilt devicon-sass-original colored"></li>
                    <li data-tooltip="Gulp" class="tilt devicon-gulp-plain colored"></li>
                    <li data-tooltip="GitHub" class="tilt devicon-github-plain colored"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="work" id="work">
    <div class="content-wrapper grid">
        <div>
            <div class="info">
                <h2>Tough Society</h2>
                <h3>Sole web developer & owner (2008&nbsp;-&nbsp;Present)</h3>
                <p>
                    Tough Society is a text-based, mafia themed game I created while I was in high school. After 12 months of self teaching and programming I completed the first edition, which I released in February 2008.
                    I wrote the application from scratch, and have continued to gradually improve it over the years (now on the fourth major edition).
                </p>
                <p>
                    The game can be played for free, but optional in game add-ons are also available to purchase.
                </p>
                <p>
                    For the front-end I used; HTML, CSS, JavaScript / jQuery. For the back-end; PHP with a MySQL database.
                </p>

                <a class="btn-link" target="_blank" href="http://toughsociety.com"><span>View website</span></a>

            </div>
            <div class="screenshots">
                <img src="~/Content/images/ts-ss-2.png" />
            </div>
        </div>
    </div>
</section>


<section class="work">
    <div class="content-wrapper grid">
        <div>
            <div class="info">
                <h2>Wordwall</h2>
                <h3>Web developer (2014 - 2017)</h3>
                <p>
                    Wordwall is an online tool that enables teachers to create interactive activities to play in the classroom.
                </p>
                <p>
                    Originally, it existed as software which had to be downloaded. My job was to help was to turn the original product
                    into a stand alone web application. To build the app we used C# and the .NET framework (using MVC 5) with an MS SQL database.
                </p>
                <p>
                    Some notable skills I picked up while working here include; responsive web design, unit testing, <span class="text-tooltip" data-tooltip="A/B testing (sometimes called split testing) is comparing two versions of a web page to see which one performs better">A/B testing</span> with Google Analytics,
                    <span class="text-tooltip" data-tooltip="Search engine optimization">SEO</span>, continuous integration and using Git / Github.
                </p>

                <a class="btn-link" target="_blank" href="https://wordwall.co.uk"><span>View website</span></a>

            </div>
            <div class="screenshots">
                <img src="~/Content/images/ww-ss-1.png" />
            </div>
        </div>
    </div>
</section>

<section class="connect" id="connect">
    <div class="content-wrapper grid">
        <div>
            <div class="info">
                <h2>What's next?</h2>
                <p>
                    I'm on the lookout for an exciting new project to become a part of, working on both front & back end development.
                    If you have something in mind which may fit my skillset, be sure to connect with me via linkedin, email or twitter.
                </p>
                <p>
                    Note: If you'd like to see some code written by me, I've made the code for this portfolio accessible on my <a href="https://github.com/madefresh/alex-portfolio" target="_blank">Github page.</a>
                </p>
            </div>
            <div class="links">
                <h2>Get in touch</h2>

                <span class="email">ormrodalex [at] gmail [dot] com</span>

                <a href="https://uk.linkedin.com/in/alex-ormrod-051b32a6" target="_blank">
                    <img class="tilt" src="~/Content/images/linkedin.png" />
                </a>
                <a href="https://twitter.com/alexormrod" target="_blank">
                    <img class="tilt" src="~/Content/images/twtr.png" />
                </a>
                <a href="https://github.com/alexormrod" target="_blank">
                    <img class="tilt" src="~/Content/images/ghub.png" />
                </a>
            </div>
        </div>
    </div>
</section>
