﻿// Imports
@import "../_global/_includes";

// Partials
@import "../_partials/_header";
@import "../_partials/_menu";
@import "../_partials/_footer";
@import "../_partials/_loading_panel";

%animate-in{
    animation: dropdown-fadein 0.8s ease-in-out;
    animation-delay: 0.6s;
}

.is-loaded .content-wrapper, .is-loaded header{
    @extend %animate-in;
}

.content-wrapper {
    max-width: 1600px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
}

section {
    
    @extend %center-content-vertically;

    min-height: 100%;
    padding-top: 63px;
    padding-bottom: 90px;
    overflow: hidden;
    background: $off-white;

    @include responsive($medium) {
        text-align: center;
    }

    @include responsive($phone) {
        padding-top: 48px;
        padding-bottom: 80px;
        min-height: 450px;
    }

    &:nth-child(even) {
        background: $white;
    }

    p {
        @include responsive($medium) {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.hero {
    min-height: 70%;
    height: auto;
    position: relative;

    @extend %text-shadow;

    @include responsive($tablet) {
        min-height: 75%;
    }

    @include responsive($phone) {
        min-height: 500px;
    }

    h1 {
        color: $white;
        font-size: 50px;
        margin-top: 100px;

        @include responsive($tablet) {
            font-size: 34px;
        }

        @include responsive($phone) {
            font-size: 38px;
            margin-top: 120px;
        }
    }

    p {
        color: $white;
        font-size: 21px;
        text-align: center;
        padding-left: 7px;
        padding-right: 7px;

        @include responsive($tablet) {
            font-size: 18px;
        }
    }
}

#scene {
    position: absolute;
    top: -10%;
    left: -10%;
    height: 120%;
    width: 120%;
    padding: 0;
    margin: 0;
    z-index: 1;

    li, img {
        min-width: 100%;
        min-height: 100%;
        display: block;
    }

    @include responsive($phone){
        img{
            max-height: 850px;
        }
    }
}

.about {
    .info, .tech {
        @include col(50%);
    }
}

.tech {
    text-align: center;
    padding-left: 20px !important;

    @include responsive($medium) {
        padding-left: 30px !important;
        padding-right: 30px !important;
        margin-top: 30px;
    }

    @include responsive($phone) {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    ul {
        padding: 0;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        margin-top: 10px;
        list-style: none;
        text-align: center;
        max-width: 535px;
        display: inline-block;

        @include responsive($medium) {
            max-width: 680px;
        }

        @include responsive($phone) {
            padding-left: 0;
            padding-right: 0;
        }

        li {
            display: inline-block;
            font-size: 55px;
            padding: 10px;
        }
    }
}


.work {

    @include responsive($medium) {
        padding-bottom: 0;
    }

    .info {

        @include col(40%);

        @include responsive($medium) {
            p {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .screenshots {
        @include col(60%);
        text-align: center;
        padding-left: 0;
        padding-right: 0;

        @include responsive($medium) {
            padding-left: 20px;
            padding-right: 20px;
        }

        @include responsive($phone) {
            padding-left: 0;
            padding-right: 0;
        }

        img {
            display: inline-block;
            width: 94%;
            max-width: 680px;
            margin-top: 25px;

            @include responsive($large) {
                margin-top: 60px;
            }

            @include responsive($medium) {
                max-width: 850px;
                width: 97%;
                margin-bottom: -70px;
            }

            @include responsive($medium) {
                margin-top: 48px;
                width: 100%;
            }
        }
    }
}


.connect {

    min-height: 70%;

    .info, .links {
        @include col(50%);
    }

    .links {
        text-align: center;

        img {
            vertical-align: top;
            width: 50px;
            margin: 30px;
            margin-top: 27px;
            margin-bottom: 14px;

            @include responsive($phone){
                margin: 14px;
                margin-top: 20px;
            }
        }

        .email{
            display: block;
            margin-top: 40px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 16px;
            color: $gray;
            font-family: $secondary-font;
        }
    }
}
