﻿@keyframes dropdown-fadein {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}