﻿/// <reference path="_vars" />
/// <reference path="_mixins" />
* {
    box-sizing: border-box;
}

.clear-fix:before, .clear-fix:after {
    display: block;
    content: " ";
    clear: both;
}

html, body {
    height: 100%;
    min-height: 100%;
    font-size: 0;
    text-size-adjust: 100%;
}

body{
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

%text-shadow{
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.2);
}

%center-content-vertically {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: $primary-font;
    font-weight: 600;
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;

    @include responsive($medium) {
        font-size: 38px;
    }
}

h2, h3 {
    font-family: $secondary-font;
    font-weight: 500;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 23px;
    margin-bottom: 28px;
}

h3{
    font-size: 17px;
    font-weight: 400;
    letter-spacing: normal;
    color: $dark-gray;
    margin-top: 2px;
    margin-bottom: 2px;
    text-transform: none;
}

@include responsive($phone){
    h2{
        font-size: 23px;
    }
    h3{
        font-size: 15px;
    }
}

p {
    font-size: 15px;
    font-family: $secondary-font;
    font-weight: 200;
    max-width: 750px;
    line-height: 170%;
    color: $black;
    margin-top: 26px;
    margin-bottom: 26px;
    text-align: left;

    @include responsive($medium) {
        max-width: 650px;
        text-align: center;
    }
}

a {
    font-weight: 400;
    text-decoration: none;
    color: $blue;
}

a:hover {
    color: $light-blue;
}