﻿/// <reference path="_vars" />
@mixin responsive($media) {
  @if $media == $phone {
    @media (max-width: $phone) {
      @content;
    }
  }
  @else if $media == $tablet {
    @media (max-width: $tablet) {
      @content;

    }
  }
  @else if $media == $medium {
    @media (max-width: $medium) {
      @content;
    }
  }
  @else if $media == $large {
    @media (max-width: $large) {
      @content;
    }
  }
}

@mixin col($width){
    @extend %col;
    width: $width;
}
