﻿
<header>
    <div class="menu-toggle-wrapper js-menu-toggle">
        <span class="text">Menu</span>
        <div class="hamburger hamburger--collapse toggle js-toggle">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </div>
    <div class="logo"></div>
</header>