﻿<menu>
    <div class="menu-items js-menu-links">
        <ul>
            <li><a href="#about">About Me</a></li>
            <li><a href="#work">My Work</a></li>
            <li><a href="#connect">Get in touch</a></li>
        </ul>
    </div>
</menu>