﻿<html lang="en">
<head>
    <title>Portfolio | Alex Ormrod - Front & Back End Web Developer</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/appjs")
    @Styles.Render("~/bundles/appcss")
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/4f6a4b08efdad6bb29f9cc801f5c07e263b39907/devicon.min.css">
    <link rel="shortcut icon" href="/Content/images/favicon.ico">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Front & Back end web developer based in the UK" />
    <meta name="keywords" content="alex ormrod, web developer, front-end, back-end, web designer, portfolio" />
    @Html.Partial("_GoogleAnalytics")
</head>
<body>
    @Html.Partial("_LoadingPanel")
    @Html.Partial("_Header")
    @Html.Partial("_Menu")
    @RenderBody()
    @Html.Partial("_Footer")
</body>
@Scripts.Render("~/bundles/jqueryparallax")
</html>