﻿/// <reference path="../_global/_vars" />
/// <reference path="../_global/_mixins" />
footer{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 63px;
    text-align: left;
    font-size: 17px;
    font-family: $secondary-font;
    color: $light-gray;
    background: $off-white;
    padding-left: 80px;

    @include responsive($medium){
        text-align: center;
        padding: 70px;
    }
}