﻿/// <reference path="../_global/_vars" />
/// <reference path="../_global/_mixins" />
@import "../_global/animations";

header {
    top: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 47px;
    vertical-align: top;
    z-index: 26;

    @include responsive($tablet) {
        padding-left: 27px;
        padding-right: 27px;
    }

    @include responsive($phone) {
        padding-top: 35px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

.menu-toggle-wrapper {
    float: right;
    margin-top: -16px;
    margin-right: -16px;
    cursor: pointer;
    transition: $hover-speed;
    user-select: none;

    @include responsive($phone){
        margin-top: -18px;
    }

    .text {
        font-family: $primary-font;
        font-size: 15px;
        color: $white;
        text-transform: uppercase;

        @extend %text-shadow;

        @include responsive($phone) {
            display: none;
        }
    }

    .toggle {
        position: relative;
        top: 5px;
        display: inline-block;
        transform: scale(0.65);
    }

    &:hover .text {
        text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.2);
    }
}


$logo-scale: 0.17;
$phone-scale: 0.9;
$logo-width: 1089px*$logo-scale;
$logo-height: 213px*$logo-scale;


.logo {
    float: left;
    display: inline-block;
    height: $logo-height;
    width: $logo-width;
    background-image: url('/Content/images/logo.png');
    background-size: $logo-width $logo-height;

    @include responsive($phone) {
        height: $logo-height*$phone-scale;
        width: $logo-width*$phone-scale;
        background-size: $logo-width*$phone-scale $logo-height*$phone-scale;
    }
}
