﻿/// <reference path="../_global/_vars" />
/// <reference path="../_global/_mixins" />
.loading-panel {
    @extend %center-content-vertically;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $white;
    z-index: 5000;
    transition: $appear-speed;
    transition-delay: 1s;
    transition-timing-function: ease-in-out;
}

.is-loaded .loading-panel{
    transform: translateY(-101%);
}

.loader{
  animation: loader-anim 1s linear infinite;
  border-radius: 50%;
  border-style: solid;
  border-left-color: #aaaaaa;
  border-top-color: #bbbbbb;
  border-bottom-color: #cccccc;
  border-right-color: #dddddd;
  border-width: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

@keyframes loader-anim{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
