﻿/// <reference path="../_global/_vars" />
/// <reference path="../_global/_mixins" />
menu {
    transition: $appear-speed;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    border-radius: 4px;
    display: block;
    transform: scale(0);
    opacity: 0;
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: rgb(18, 27, 31);
    position: absolute;
    z-index: 25;
    top: 10px;
    bottom: 10px;
    right: 12px;
    left: 12px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    &.is-open {
        transform: scale(1);
        opacity: 1;
    }

    &.is-closed {
        transform: scale(0);
        opacity: 0;
    }

    @include responsive($tablet) {
        top: 8px;
        bottom: 8px;
        left: 6px;
        right: 6px;
    }

    .menu-items {
        @extend %center-content-vertically;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 30px;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            text-align: center;
            display: inline-block;
            padding: 0;
            margin: 50px;
            text-transform: uppercase;

            @include responsive($medium) {
                margin: 35px;
            }

            @include responsive($tablet) {
                display: block;
            }

            a {
                font-size: 32px;
                font-family: $primary-font;
                color: $white !important;
                letter-spacing: 2px;
                font-weight: 800;
                white-space: nowrap;
                text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.15);

                @include responsive($medium) {
                    font-size: 22px;
                }

                &:hover {
                    text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.6);
                }
            }
        }
    }
}
